<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
    <!-- JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/icon.png')}}">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <!-- Font -->
    <link href="https://fonts.cdnfonts.com/css/nova-flat-2" rel="stylesheet">
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                darkGreen: "#658227",
                limeGreen: '#72a312',
                paleGreen: '#a6af79',
                earthBrown: "#7a5234"
              },
              fontFamily: {
                NovaFlat: ['"Nova Flat"', "sans-serif"],
              }
            },
          },
        }
      </script>
    <!-- responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="w-full h-full">
        <div class="w-full h-full flex flex-col">
            {% include "includes/navbar.html" %}
            <div class="flex mainContent p-6 m-0 w-full h-full">
                {% block content %}
                {% endblock %}
            </div>
            {% include "includes/footer.html" %}
        </div>
    </div>

</body>

</html>